{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Product' %} #{{ product.pk }}
{% endblock %}

{% block main %}
    <h1>{% translate 'Product' %} <strong>{{ product.name }}</strong></h1>
    <div>
        <div>{% translate 'Description' %}: <em>{{ product.description }}</em></div>
        <div>{% translate 'Price' %}: {{ product.price }}</div>
        <div>{% translate 'Discount' %}: {{ product.discount }}</div>
        <div>{% translate 'Archived' %}: {{ product.archived }}</div>
        {% translate 'None' as none %}
        <div>{% translate 'Created by' %}: {% firstof product.created_by none %}</div>

        {% if product.preview %}
            <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
        {% endif %}

        <h3>{% translate 'Images' %}:</h3>
        {% if product.images %}
            <div>
                {% blocktranslate count images_count=product.images.count %}
                    There is only one image.
                    {% plural %}
                    There are {{ images_count }} images available.
                {% endblocktranslate %}
            </div>
            <div>
            {% for img in product.images.all %}
                <div>
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
                    <div>{{ img.description }}</div>
                </div>
            {% empty %}
                <div>{% translate 'No images yet' %}</div>
            {% endfor %}
        {% endif %}
        </div>

    </div>
    <div><a href="{% url 'shopapp:product_update' pk=product.pk %}">{% translate 'Update product' %}</a></div>
    <div><a href="{% url 'shopapp:product_delete' pk=product.pk %}">{% translate 'Archive product' %}</a></div>
    <div><a href="{% url 'shopapp:products_list' %}">{% translate 'Back to products list' %}</a></div>
{% endblock %}
