{% extends 'myauth/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}

        <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
        </p>
        <button type="submit">Login</button>
    </form>
{% endblock %}